<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Boxes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list [inset]="true" *ngIf="!isLoading">
    @for (box of boxes; track $index) {
      <ion-item-sliding>
        <ion-item [button]="true" detail="false" lines="full">
          <ion-text slot="start" class="circular-container">{{
            box.totalBoxes
          }}</ion-text>
          <ion-label>
            <strong>{{ box.variety | titlecase }}</strong>
            <h2>Layer:{{ box.grade }}</h2>
            <ion-text>{{ box.khata | titlecase }}</ion-text>
            <br />
            <ion-note color="medium" class="ion-text-wrap" *ngIf="box.note">
              {{ box.note }}
            </ion-note>
            <br />
          </ion-label>
          <div class="metadata-end-wrapper" slot="end">
            <ion-note color="medium">{{ box.lotNumber }}</ion-note>
          </div>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="tertiary">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" expandable="false">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>

  @if (isLoading) {
    <app-skeleton-view></app-skeleton-view>
  }
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="fabAction()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- Empty View -->
<app-empty-view
  *ngIf="boxes?.length === 0 && !isLoading"
  class="empty-view-parent"
  title="No data"
  (buttonClicked)="doRefresh()"
  buttonTitle="Refresh"
></app-empty-view>
<!-- Empty View ends -->
