.counter-section {
  margin: 8px;
  ion-card {
    margin: 0;
    height: 100%;
  }
  ion-item {
    ion-label {
      strong {
        font-size: 22px;
      }
    }
    ion-icon {
      margin-right: 8px;
    }
    &::part(native) {
      border-radius: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
